
.cta-button {
  @include button($white, null, $dark-gray);
  width: 50%;
}

.btn-primary {
  @include button($riptide, null, $cyprus);
}

.btn-secondary {
  @include button($atomic, null, $riptide);
}

.no-hover {
  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
}
