
.contact {
  align-items: center;
  display: flex;
  flex-direction: column;

  .title {
    color: $dark-gray;
  }
}

.contact-section {
  display: flex;
  justify-content: space-between;
  width: 80%;

  @include mediaQuery(max, $tablet) {
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
}

.contact-form {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 6px;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 15px;
  text-align: center;
  width: 45%;

  @include mediaQuery(max, $tablet) {
    margin: 10px 0;
    width: 65%;
  }

  @include mediaQuery(max, $mobile) {
    margin: 10px 0;
    width: 100%;
  }

  .btn-secondary {
    margin: 10px auto 0;
    width: 80%;
  }
}

.form-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.more-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 45%;

  @include mediaQuery(max, $tablet) {
    margin: 10px 0;
    width: 65%;
  }

  @include mediaQuery(max, $mobile) {
    margin: 10px 0;
    width: 100%;
  }
}

.hours-operation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 10px 0 25px;
  width: 80%;

  @include mediaQuery(max, $tablet) {
    width: 100%;
  }
}

.time-slot {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  width: 100%;
}

.day {
  font-size: 1rem;
  font-weight: 600;
}

.hours {
  font-size: 1rem;
}

.bottom-section {
  // margin-top: auto;
  // margin-bottom: 0;
}

.error-message {
  background-color: $sunset;
  margin-top: 5px;
  padding: 3px 0;
}
