
.footer {
  background-color: $melanzane;
  border-top: 1px solid $light-gray;
  box-shadow: $box-shadow4;
  width: 100%;
}

.footer-section {
  color: $magnolia;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;

  @include mediaQuery(max, $mobile) {
    flex-direction: column;
    padding: 15px;
  }
}

.footer-section {

  @include mediaQuery(max, $mobile) {
    flex: 0 0 100%;
    width: 100%;
  }

  .title {
    display: block;

    @include mediaQuery(max, $tablet) {
      margin-bottom: 10px;
    }
  }
}

.left {
  align-items: center;
  flex: 0 0 500px;
  width: 500px;

  @include mediaQuery(max, $mobile) {
    align-items: flex-start;
    flex-direction: column;
    flex: 0 0 100%;
    width: 100%;
  }
}

.logo-img {
  max-width: 150px;
}

.footer-link {
  @include mediaQuery(max, $tablet) {
    font-size: 1rem;
  }
}

.right {
  align-items: flex-end;
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;

  @include mediaQuery(max, $tablet) {
    align-items: flex-start;
    flex: 0 0 100%;
    margin-top: 5px;
    width: 100%;
  }
}

.copyright {
  display: block;
  font-size: .8rem;
}

.social-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.social-icon {
  height: 40px;
  width: 40px;
}

.footer-contact {
  display: flex;
  flex-direction: column;

  span {
    display: block;
    font-size: 1rem;
    margin: 3px 0;
  }
}

.city-state {
  display: flex;
}
