
.footer {
  background-color: $cello;
  color: $riptide;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;

  @include mediaQuery(max, $mobile) {
    flex-direction: column;
    padding: 15px;
  }
}

.footer-section {

  @include mediaQuery(max, $mobile) {
    flex: 0 0 100%;
    width: 100%;
  }

  .title {
    display: block;
    font-size: 1.5rem;
    line-height: 1.55rem;

    @include mediaQuery(max, $tablet) {
      margin-bottom: 10px;
    }
  }
}

.left {
  flex: 0 0 65%;
  width: 65%;

  @include mediaQuery(max, $tablet) {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    width: 100%;
  }
}

.footer-link {
  @include mediaQuery(max, $tablet) {
    font-size: 1rem;
  }
}

.right {
  align-items: flex-end;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;

  @include mediaQuery(max, $tablet) {
    align-items: flex-start;
    flex: 0 0 100%;
    margin-top: 5px;
    width: 100%;
  }
}

.copyright {
  display: block;
  font-size: .8rem;
}

.social-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.social-icon {
  height: 40px;
  width: 40px;
}

.footer-contact {
  display: flex;
  flex-direction: column;

  span {
    font-size: 1rem;
  }
}

.city-state {
  display: flex;
}
