
.hero {
  align-items: center;
  background-image: url('./assets/img/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 780px;
  justify-content: center;
  position: relative;

  @include mediaQuery(max, $mobile) {
    height: 100vh;
  }
}

.hero-overlay {
  background: linear-gradient(90deg, rgba(56, 77, 90, 0.5), transparent);
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.hero-content {
  align-items: center;
  background-color: rgba(186, 171, 189, 0.7);
  border-radius: 2px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 25px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  width: 45%;
  z-index: 2;

  @include mediaQuery(max, $tablet) {

    padding: 20px;
    width: 60%;
  }

  @include mediaQuery(max, $mobile) {
    padding: 15px;
    width: 85%;
  }

  .title {
    color: $cyprus;
    font-size: 1.8rem;
    line-height: 1.85rem;

    @include mediaQuery(max, $mobile) {
      font-size: 1.5rem;
      line-height: 1.55rem;
    }
  }

  .subtitle {
    color: $cyprus;
    display: block;
    margin: 10px 0 15px;
    width: 85%;
  }
}
