
.hero {
  align-items: center;
  background-image: url('./assets/img/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 780px;
  justify-content: center;
  position: relative;
}

.hero-overlay {
  background: linear-gradient(90deg, rgba(35, 53, 65, 0.6), transparent);
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.hero-content {
  align-items: center;
  background-color: rgba(150, 189, 198, 0.84);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 25px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  z-index: 2;

  @include mediaQuery(max, $tablet) {

    padding: 20px;
    width: 60%;
  }

  @include mediaQuery(max, $mobile) {
    padding: 15px;
    width: 85%;
  }

  .title {
    color: $elephant;
  }

  .subtitle {
    color: $elephant;
    display: block;
    margin: 10px 0 15px;
    width: 85%;
  }
}
