
.navbar {
  background-color: $white;
  box-shadow: $box-shadow3;
  max-width: $lgDesktop;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar-wrapper {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;

  @include mediaQuery(max, $mobile) {
    padding: 0 20px;
  }
}

.logo {
  .navbar-link {
    color: $castro;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  max-width: 70%;

  @include mediaQuery(max, $tablet) {
    display: none;
  }
}

.navbar-menu.active {
  display: flex;
  width: 55%;
}

.navbar-menu.mobile {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  position: absolute;
  right: 0;
  top: 50px;
  width: 250px;

  @include mediaQuery(max, $mobile) {
    width: 200px;
  }

  .navbar-item {
    padding: 5px 0;
    width: 100%;
  }
}

.navbar-item {
  padding: 0 15px;
  position: relative;
}

.navbar-item-menu {
  align-items: flex-start;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  top: 34px;
  width: 100%;

  @include mediaQuery(max, $tablet) {
    align-items: flex-end;
    right: 200px;
    top: 0;
    width: 80%;
  }
}

.navbar-menu-link {
  color: $castro;
  display: block;
  margin: 4px 0;
  position: relative;
  text-transform: capitalize;

  &:hover {
    color: lighten($castro, 10);
    cursor: pointer;
  }
}

.navbar-submenu {
  background-color: $white;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 100%;
  width: 100%;
}

.navbar-submenu-recursive {
  background-color: $white;
  padding: 10px;
  position: absolute;
  right: 100%;
  text-align: left;
  top: 50%;
  width: 285px;

  &:focus {
    background-color: #FFCC00;
  }
}

.navbar-link {
  color: $castro;
  padding: 0 5px;
  text-transform: capitalize;

  &:hover {
    color: lighten($castro, 10);
    cursor: pointer;
  }

  @include mediaQuery(max, $mobile) {
    font-size: .85rem;
  }
}

.mobile-menu {
  display: none;
  flex-direction: column;
  width: 35px;

  @include mediaQuery(max, $tablet) {
    display: flex;
  }
}

.nav-list {
  background-color: $castro;
  border-radius: 5px;
	height: 3px;
	margin: 3px 0;
	transition: 0.8s;
  width: 35px;
}

.change {
  .bar1 {
  	transform: rotate(-45deg) translate(-9px, 3px);
  }
  .bar2 {
  	opacity: 0;
  }
  .bar3 {
  	transform: rotate(45deg) translate(-10px, -4px);
  }
}

.navbar-contact {
  background-color: $transparent-white;
  left: 40px;
  padding: 15px 10px;
  position: absolute;
  top: 50px;

  @include mediaQuery(max, $mobile) {
    display: none;
  }
}
