
.navbar {
  background-color: $white;
  box-shadow: $box-shadow3;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.scrollUp {
  position: fixed;
  top: 0;
  transform: translateY(0);
  transition: .5s ease-in-out;
}

.scrollDown {
  position: fixed;
  transform: translateY(-110px);
  transition: .1s ease-in-out;
}

.navbar-wrapper {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  max-width: $lgDesktop;
  padding: 0 40px;
  position: relative;

  @include mediaQuery(min, $lgDesktop) {
    margin: 0 auto;
  }

  @include mediaQuery(max, $tablet) {
    padding: 0 20px;
  }
}

.logo {
  .navbar-link {
    color: $castro;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.navbar-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 70%;

  @include mediaQuery(max, $tablet) {
    display: none;
    max-width: 100%;
  }
}

.navbar-menu.mobile {
  align-items: flex-start;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  padding: 70px 20px 20px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;

  .navbar-item {
    margin: 10px 0;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-right: 10px;
    }
  }
}

.navbar-item {
  padding: 0 15px;
  position: relative;
}

.navbar-item-menu {
  align-items: flex-start;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  top: 34px;
  width: 100%;

  @include mediaQuery(max, $tablet) {
    align-items: flex-end;
    right: 200px;
    top: 0;
    width: 80%;
  }
}

.navbar-submenu-link {
  color: $castro;
  display: block;
  margin: 15px 0;
  position: relative;
  text-transform: capitalize;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: lighten($castro, 10);
    cursor: pointer;
  }
}

.navbar-submenu {
  background-color: $white;
  left: 0;
  padding: 10px 15px;
  position: absolute;
  text-align: left;
  top: calc(100% + 10px);
  width: 100%;

  @include mediaQuery(max, $tablet) {
    padding: 0 15px;
  }
}

.navbar-link {
  color: $castro;
  display: block;
  padding: 4px 5px;
  text-transform: capitalize;

  &:hover {
    border-bottom: 1px solid $riptide;
    cursor: pointer;
    padding: 5px 5px 3px;
  }

  @include mediaQuery(max, $mobile) {
    font-size: .85rem;

    &:hover {
      border-bottom: none;
      cursor: pointer;
      padding: 5px 5px 3px;
    }
  }
}

.active {
  border-bottom: 1px solid $green;
  padding-bottom: 3px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  width: 35px;

  @include mediaQuery(max, $tablet) {
    display: flex;
  }
}

.nav-list {
  background-color: $castro;
  border-radius: 5px;
	height: 3px;
	margin: 3px 0;
	transition: 0.8s;
  width: 35px;
}

.change {
  .bar1 {
  	transform: rotate(-45deg) translate(-9px, 2px);
  }
  .bar2 {
  	opacity: 0;
  }
  .bar3 {
  	transform: rotate(45deg) translate(-10px, -4px);
  }
}

.navbar-contact {
  background-color: $transparent-black;
  left: 40px;
  padding: 15px 10px;
  position: absolute;
  top: 50px;

  @include mediaQuery(max, $mobile) {
    left: 20px;
  }

  .navbar-link {
    color: $white;
  }
}
