
.spinner:before {
  animation: spinner 1s linear infinite;
  border-radius: 50%;
  border-right: 2px solid transparent;
  border-top: 2px solid $kashmir;
  box-sizing: border-box;
  content: '';
  height: 60px;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: fixed;
  top: 50%;
  width: 60px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
