* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
}

body {
	max-width: $lgDesktop;

	@include mediaQuery(min, $lgDesktop) {
		margin: 0 auto;
	}
}

main {
	display: block;
}

.section {
	padding: 25px 0;
	width: 100%;
}
