/////     GLOBAL DEFAULTS     /////
// Colors
$white: #FFFFFF;
$off-white: #FDFFFC;
$black: #000;
$light-gray: #D4DBE3;

// Transition duration
$duration: 0.3s;

// Variables
$mobile: 600px;
$tablet: 900px;
$smDesktop: 1024px;
$desktop: 1280px;
$lgDesktop: 1440px;
