
.about {
  align-items: center;
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  text-align: center;

  .title {
    color: $elephant;
  }

  .btn-primary {
    margin-top: 20px;
    width: 50%;
  }
}

.about-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

  @include mediaQuery(max, $tablet) {
    align-items: center;
    flex-direction: column;
  }
}

.about-item {
  align-items: center;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  padding: 20px;
  width: 30%;

  @include mediaQuery(max, $tablet) {
    flex: 0 0 80%;
    width: 80%;
  }
}

.about-item-img {
  border-radius: 50%;
  width: 75%;
}

.about-item-subtitle {
  color: $dark-gray;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 10px 0;
}

.about-item-desc {
  color: $dark-gray;
  width: 90%;
}
