
.footer {
  background-color: $elephant;
  color: $light-blue;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.footer-section {
  flex: 0 0 50%;
  width: 50%;

  @include mediaQuery(max, $mobile) {
    flex: 0 0 100%;
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }
}

.right {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.copyright {
  display: block;
  font-size: .8rem;
}

.social-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.social-icon {
  height: 40px;
  width: 40px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.city-state {
  display: flex;
  justify-content: flex-end;
}
