@import url("https://fonts.googleapis.com/css?family=Roboto:700|Source+Sans+Pro:400,600,700");
* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  font-size: 16px;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 18px; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 20px; } }

body {
  margin: 0;
  padding: 0; }

main {
  display: block; }

input {
  border: 1px solid #D4DBE3;
  border-radius: 2px;
  font-size: 14px;
  margin: 3px 0;
  padding: 10px; }

textarea {
  background-color: transparent;
  border: 1px solid #D4DBE3;
  border-radius: 2px;
  font-size: 14px;
  resize: none;
  outline: none;
  padding: 10px; }
  textarea:placeholder {
    font-size: 14px; }

button {
  border: none;
  border-color: none; }

.section {
  max-width: 1440px;
  padding: 25px 0;
  width: 100%; }
  @media only screen and (min-width: 1440px) {
    .section {
      margin: 0 auto; } }

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }
  .form-field label {
    font-size: .85rem;
    margin: 3px 0; }
  .form-field input,
  .form-field textarea {
    width: 100%; }

.nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%; }

.card {
  background-color: #FFFFFF;
  border: 1px solid #D4DBE3;
  border-radius: 6px;
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.16), 0px 1px 0px rgba(0, 0, 0, 0.05);
  padding: 10px 15px; }

*, html {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-family: inherit;
  font-size: 5rem;
  font-weight: 400;
  line-height: 5.1rem; }
  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 4.375rem;
      line-height: 4.475rem; } }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 5rem;
      line-height: 5.1rem; } }

h2 {
  font-family: inherit;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.1rem; }
  @media only screen and (max-width: 900px) {
    h2 {
      font-size: 3.5rem;
      line-height: 3.6rem; } }
  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 4rem;
      line-height: 4.1rem; } }

h3 {
  font-family: inherit;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.1rem; }
  @media only screen and (max-width: 900px) {
    h3 {
      font-size: 2.625rem;
      line-height: 2.725rem; } }
  @media only screen and (max-width: 600px) {
    h3 {
      font-size: 3rem;
      line-height: 3.1rem; } }

h4 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.1rem; }
  @media only screen and (max-width: 900px) {
    h4 {
      font-size: 1.75rem;
      line-height: 1.85rem; } }
  @media only screen and (max-width: 600px) {
    h4 {
      font-size: 2rem;
      line-height: 2.1rem; } }

h5 {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1rem; }
  @media only screen and (max-width: 900px) {
    h5 {
      font-size: 0.875rem;
      line-height: 0.975rem; } }
  @media only screen and (max-width: 600px) {
    h5 {
      font-size: 1rem;
      line-height: 1.1rem; } }

h6 {
  font-family: inherit;
  font-size: 0rem;
  font-weight: 400;
  line-height: 0.1rem; }
  @media only screen and (max-width: 900px) {
    h6 {
      font-size: 0rem;
      line-height: 0.1rem; } }
  @media only screen and (max-width: 600px) {
    h6 {
      font-size: 0rem;
      line-height: 0.1rem; } }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

p {
  color: #1C1C1C;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.25; }

a {
  color: #32292F;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.1;
  text-decoration: none; }

a.large {
  font-size: 1.25rem; }

button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.1; }

button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.1; }

li {
  font-family: inherit;
  line-height: 1.2; }

.title, .title-sm {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize; }
  @media only screen and (max-width: 900px) {
    .title, .title-sm {
      font-size: 2rem; } }

.title-sm {
  display: block;
  font-size: 2rem; }
  @media only screen and (max-width: 900px) {
    .title-sm {
      font-size: 1.5rem; } }

.white {
  color: #FFFFFF; }

.magnolia {
  color: #F8F1FF; }

.melanzane {
  color: #32292F; }

.green {
  color: #618C58; }

.center {
  text-align: center; }

/*** Import partials from the modules folder ***/
.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center; }
  .about .title, .about .title-sm {
    color: #1C1C1C; }
  .about .btn-secondary {
    margin-top: 20px;
    width: 50%; }

.about-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px; }
  @media only screen and (max-width: 900px) {
    .about-grid {
      align-items: center;
      flex-direction: column; } }

.about-item {
  align-items: center;
  background-color: #F0F7F4;
  border: 1px solid #dfeee8;
  border-radius: 6px;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  padding: 20px;
  width: 30%; }
  .about-item:hover {
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.16), 0px 1px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  @media only screen and (max-width: 900px) {
    .about-item {
      flex: 0 0 80%;
      margin: 15px 0;
      min-height: 450px;
      width: 80%; } }
  @media only screen and (max-width: 600px) {
    .about-item {
      flex: 0 0 100%;
      min-height: 400px;
      width: 100%; } }

.about-item-img {
  width: 50%; }

.about-item-subtitle {
  color: #1C1C1C;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 10px 0; }

.about-item-desc {
  color: #1C1C1C;
  width: 90%; }

.cta-button {
  background-color: #FFFFFF;
  align-items: center;
  border-radius: 4px;
  color: #1C1C1C;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  max-width: 372px;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%; }
  .cta-button:hover {
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.16), 0px 1px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  .cta-button:disabled {
    background-color: white;
    color: #b5b5b5; }
    .cta-button:disabled:hover {
      cursor: not-allowed; }
  @media only screen and (max-width: 600px) {
    .cta-button {
      width: 100%; } }
  @media only screen and (max-width: 320px) {
    .cta-button {
      margin-left: 0;
      margin-right: 0;
      width: 270px; } }

.btn-primary {
  background-color: #99DDC8;
  align-items: center;
  border-radius: 4px;
  color: #102542;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  max-width: 372px;
  text-decoration: none;
  text-transform: uppercase; }
  .btn-primary:hover {
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.16), 0px 1px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  .btn-primary:disabled {
    background-color: #e6f7f1;
    color: #9dbce7; }
    .btn-primary:disabled:hover {
      cursor: not-allowed; }
  @media only screen and (max-width: 600px) {
    .btn-primary {
      width: 100%; } }
  @media only screen and (max-width: 320px) {
    .btn-primary {
      margin-left: 0;
      margin-right: 0;
      width: 270px; } }

.btn-secondary {
  background-color: #435058;
  align-items: center;
  border-radius: 4px;
  color: #99DDC8;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  max-width: 372px;
  text-decoration: none;
  text-transform: uppercase; }
  .btn-secondary:hover {
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.16), 0px 1px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  .btn-secondary:disabled {
    background-color: #6f8592;
    color: white; }
    .btn-secondary:disabled:hover {
      cursor: not-allowed; }
  @media only screen and (max-width: 600px) {
    .btn-secondary {
      width: 100%; } }
  @media only screen and (max-width: 320px) {
    .btn-secondary {
      margin-left: 0;
      margin-right: 0;
      width: 270px; } }

.no-hover:hover {
  box-shadow: none;
  cursor: pointer; }

.contact {
  align-items: center;
  display: flex;
  flex-direction: column; }
  .contact .title, .contact .title-sm {
    color: #1C1C1C;
    margin-bottom: 20px; }

.contact-section {
  display: flex;
  justify-content: space-between;
  width: 80%; }
  @media only screen and (max-width: 900px) {
    .contact-section {
      align-items: center;
      flex-direction: column;
      width: 90%; } }

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
  width: 45%; }
  @media only screen and (max-width: 900px) {
    .contact-form {
      margin: 10px 0;
      width: 65%; } }
  @media only screen and (max-width: 600px) {
    .contact-form {
      margin: 10px 0;
      width: 100%; } }
  .contact-form .btn-secondary {
    margin: 10px auto 0;
    width: 80%; }

.form-title {
  font-size: 1.5rem;
  margin-bottom: 5px; }

.more-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 45%; }
  @media only screen and (max-width: 900px) {
    .more-info {
      margin: 10px 0;
      width: 65%; } }
  @media only screen and (max-width: 600px) {
    .more-info {
      margin: 10px 0;
      width: 100%; } }

.hours-operation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 10px 0 25px;
  width: 80%; }
  @media only screen and (max-width: 900px) {
    .hours-operation {
      width: 100%; } }

.time-slot {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  width: 100%; }

.day {
  font-size: 1rem;
  font-weight: 600; }

.hours {
  font-size: 1rem; }

.error-message {
  background-color: #FF5057;
  margin-top: 5px;
  padding: 3px 0; }

.homepage .hero {
  background-image: url("./assets/img/hero1.jpg"); }

.treatments .hero {
  background-image: url("./assets/img/hero3.jpg");
  flex-direction: column; }

.hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 60vh;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 900px) {
    .hero {
      height: 60vh; } }
  @media only screen and (max-width: 600px) {
    .hero {
      height: 70vh; } }

.hero-overlay {
  background: linear-gradient(90deg, rgba(89, 121, 142, 0.3), transparent);
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1; }

.hero-content-card {
  align-items: center;
  background-color: rgba(89, 121, 142, 0.85);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 50%;
  max-width: 1440px;
  padding: 25px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  width: 45%;
  z-index: 2; }
  @media only screen and (min-width: 1440px) {
    .hero-content-card {
      margin: 0 auto; } }
  @media only screen and (max-width: 900px) {
    .hero-content-card {
      padding: 20px;
      width: 60%; } }
  @media only screen and (max-width: 600px) {
    .hero-content-card {
      padding: 15px;
      width: 85%; } }
  .hero-content-card .title, .hero-content-card .title-sm {
    color: #F8F1FF;
    font-size: 1.8rem;
    line-height: 1.85rem; }
    @media only screen and (max-width: 600px) {
      .hero-content-card .title, .hero-content-card .title-sm {
        font-size: 1.5rem;
        line-height: 1.55rem; } }
  .hero-content-card .subtitle {
    color: #F8F1FF;
    display: block;
    margin: 10px 0 15px;
    width: 85%; }

.hero-content {
  z-index: 2; }

.footer {
  background-color: #32292F;
  border-top: 1px solid #D4DBE3;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);
  width: 100%; }

.footer-section {
  color: #F8F1FF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px; }
  @media only screen and (max-width: 600px) {
    .footer-section {
      flex-direction: column;
      padding: 15px; } }

@media only screen and (max-width: 600px) {
  .footer-section {
    flex: 0 0 100%;
    width: 100%; } }

.footer-section .title, .footer-section .title-sm {
  display: block; }
  @media only screen and (max-width: 900px) {
    .footer-section .title, .footer-section .title-sm {
      margin-bottom: 10px; } }

.left {
  align-items: center;
  flex: 0 0 500px;
  width: 500px; }
  @media only screen and (max-width: 600px) {
    .left {
      align-items: flex-start;
      flex-direction: column;
      flex: 0 0 100%;
      width: 100%; } }

.logo-img {
  max-width: 150px; }

@media only screen and (max-width: 900px) {
  .footer-link {
    font-size: 1rem; } }

.right {
  align-items: flex-end;
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%; }
  @media only screen and (max-width: 900px) {
    .right {
      align-items: flex-start;
      flex: 0 0 100%;
      margin-top: 5px;
      width: 100%; } }

.copyright {
  display: block;
  font-size: .8rem; }

.social-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.social-icon {
  height: 40px;
  width: 40px; }

.footer-contact {
  display: flex;
  flex-direction: column; }
  .footer-contact span {
    font-size: 1rem; }

.city-state {
  display: flex; }

.navbar {
  background-color: #FFFFFF;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.16), 0px 0px 0px rgba(0, 0, 0, 0.05);
  padding: 5px 0;
  position: absolute;
  width: 100%;
  z-index: 3; }

.scrollUp {
  position: fixed;
  top: 0;
  transform: translateY(0);
  transition: .5s ease-in-out; }

.scrollDown {
  position: fixed;
  transform: translateY(-118px);
  transition: .1s ease-in-out; }

.navbar-wrapper {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0 40px;
  position: relative; }
  @media only screen and (min-width: 1440px) {
    .navbar-wrapper {
      margin: 0 auto; } }
  @media only screen and (max-width: 900px) {
    .navbar-wrapper {
      padding: 0 20px; } }

.logo {
  flex: 0 0 15%; }
  @media only screen and (max-width: 900px) {
    .logo {
      flex: 0 0 25%; } }
  @media only screen and (max-width: 600px) {
    .logo {
      flex: 0 0 45%; } }
  .logo .navbar-link {
    color: #401F3E;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%; }
    .logo .navbar-link img {
      height: 100%;
      width: 100%; }

.navbar-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 70%; }
  @media only screen and (max-width: 900px) {
    .navbar-menu {
      display: none;
      max-width: 100%; } }

.navbar-menu.mobile {
  align-items: flex-start;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  padding: 70px 20px 20px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%; }
  .navbar-menu.mobile .navbar-item {
    margin: 10px 0;
    padding: 0; }
    .navbar-menu.mobile .navbar-item:first-child {
      margin-top: 0; }
    .navbar-menu.mobile .navbar-item:last-child {
      margin-bottom: 0;
      padding-right: 10px; }

.navbar-item {
  padding: 0 15px;
  position: relative; }

.navbar-item-menu {
  align-items: flex-start;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  top: 34px;
  width: 100%; }
  @media only screen and (max-width: 900px) {
    .navbar-item-menu {
      align-items: flex-end;
      right: 200px;
      top: 0;
      width: 80%; } }

.navbar-submenu-link {
  color: #401F3E;
  display: block;
  margin: 15px 0;
  position: relative;
  text-transform: capitalize; }
  .navbar-submenu-link:first-child {
    margin-top: 0; }
  .navbar-submenu-link:last-child {
    margin-bottom: 0; }
  .navbar-submenu-link:hover {
    color: #62305f;
    cursor: pointer; }

.navbar-submenu {
  background-color: #FFFFFF;
  left: 0;
  padding: 10px 15px;
  position: absolute;
  text-align: left;
  top: calc(100% + 15px);
  width: 100%; }
  @media only screen and (max-width: 900px) {
    .navbar-submenu {
      padding: 0 15px; } }

.navbar-link {
  color: #401F3E;
  display: block;
  padding: 4px 5px;
  text-transform: capitalize; }
  .navbar-link:hover:not(.logo-link) {
    border-bottom: 1px solid #99DDC8;
    cursor: pointer;
    padding: 5px 5px 3px; }
  @media only screen and (max-width: 600px) {
    .navbar-link {
      font-size: .85rem; }
      .navbar-link:hover {
        border-bottom: none;
        cursor: pointer;
        padding: 5px 5px 3px; } }

.active {
  border-bottom: 1px solid #F7CB15;
  padding-bottom: 3px; }

.mobile-menu {
  display: none;
  flex-direction: column;
  width: 35px; }
  @media only screen and (max-width: 900px) {
    .mobile-menu {
      display: flex; } }

.nav-list {
  background-color: #401F3E;
  border-radius: 5px;
  height: 3px;
  margin: 3px 0;
  transition: 0.8s;
  width: 35px; }

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 2px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  transform: rotate(45deg) translate(-10px, -4px); }

.navbar-contact {
  background-color: rgba(0, 0, 0, 0.4);
  left: 40px;
  padding: 15px 10px;
  position: absolute;
  top: 55px; }
  @media only screen and (max-width: 600px) {
    .navbar-contact {
      left: 20px; } }
  .navbar-contact .navbar-link {
    color: #FFFFFF; }

.spinner:before {
  animation: spinner 1s linear infinite;
  border-radius: 50%;
  border-right: 2px solid transparent;
  border-top: 2px solid #59798E;
  box-sizing: border-box;
  content: '';
  height: 60px;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: fixed;
  top: 50%;
  width: 60px; }

@keyframes spinner {
  to {
    transform: rotate(360deg); } }

.philosophy {
  background-color: #435058;
  color: #1C1C1C;
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  padding: 25px 0; }
  @media only screen and (max-width: 600px) {
    .philosophy {
      padding: 25px; } }

.philosophy-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 0;
  max-width: 750px; }
  @media only screen and (max-width: 600px) {
    .philosophy-wrapper {
      flex-direction: column; } }
  .philosophy-wrapper .title-sm {
    display: block; }

.philosopy-definition {
  flex: 0 0 35%; }

.philosophy-description {
  border-left: 1px solid #A3E7FC;
  flex: 0 0 65%;
  padding-left: 15px; }
  @media only screen and (max-width: 600px) {
    .philosophy-description {
      border-left: none;
      border-top: 1px solid #A3E7FC;
      margin-top: 10px;
      padding-left: 0;
      padding-top: 15px; } }

.word {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin: 8px 0 4px; }

.pronounce {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px; }

.adjective {
  display: block;
  font-style: italic;
  margin-bottom: 4px; }

.definition {
  display: block;
  margin: 4px 0; }

.treatment-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px auto;
  max-width: 1440px; }
  @media only screen and (max-width: 1440px) {
    .treatment-grid {
      padding: 0 32px; } }
  @media only screen and (max-width: 900px) {
    .treatment-grid {
      padding: 0 16px; } }

.treatment-card {
  background-color: #FFFFFF;
  border: 1px solid #F0F7F4;
  border-radius: 6px;
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.16), 0px 1px 0px rgba(0, 0, 0, 0.05);
  flex: 0 0 30%;
  margin-bottom: 20px;
  min-height: 335px;
  padding: 20px;
  position: relative; }
  .treatment-card:hover {
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.16), -15px 0px 35px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  @media only screen and (max-width: 1024px) {
    .treatment-card {
      flex: 0 0 45%;
      padding: 40px 20px; } }
  @media only screen and (max-width: 600px) {
    .treatment-card {
      flex: 0 0 100%; } }

.treatment-card-title {
  border-bottom: 1px solid #618C58;
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 5px; }

.treatment-card-description {
  margin: 15px 0; }

.treatment-card-link {
  bottom: 20px;
  color: #102542;
  left: 20px;
  position: absolute; }
