@import url("https://fonts.googleapis.com/css?family=Roboto:700|Source+Sans+Pro:400,600,700");
* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

html {
  font-size: 16px;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 18px; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 20px; } }

body {
  margin: 0;
  max-width: 1440px;
  padding: 0; }
  @media only screen and (min-width: 1440px) {
    body {
      margin: 0 auto; } }

main {
  display: block; }

input {
  border: 1px solid #D4DBE3;
  border-radius: 2px;
  font-size: 14px;
  margin: 3px 0;
  padding: 10px; }

textarea {
  background-color: transparent;
  border: 1px solid #D4DBE3;
  border-radius: 2px;
  font-size: 14px;
  resize: none;
  outline: none;
  padding: 10px; }
  textarea:placeholder {
    font-size: 14px; }

button {
  border: none;
  border-color: none; }

.section {
  padding: 25px 0;
  width: 100%; }

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; }
  .form-field label {
    font-size: .85rem;
    margin: 3px 0; }
  .form-field input,
  .form-field textarea {
    width: 100%; }

*, html {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-family: inherit;
  font-size: 5rem;
  font-weight: 400;
  line-height: 5.1rem; }
  @media only screen and (max-width: 900px) {
    h1 {
      font-size: 4.375rem;
      line-height: 4.475rem; } }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 5rem;
      line-height: 5.1rem; } }

h2 {
  font-family: inherit;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.1rem; }
  @media only screen and (max-width: 900px) {
    h2 {
      font-size: 3.5rem;
      line-height: 3.6rem; } }
  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 4rem;
      line-height: 4.1rem; } }

h3 {
  font-family: inherit;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.1rem; }
  @media only screen and (max-width: 900px) {
    h3 {
      font-size: 2.625rem;
      line-height: 2.725rem; } }
  @media only screen and (max-width: 600px) {
    h3 {
      font-size: 3rem;
      line-height: 3.1rem; } }

h4 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.1rem; }
  @media only screen and (max-width: 900px) {
    h4 {
      font-size: 1.75rem;
      line-height: 1.85rem; } }
  @media only screen and (max-width: 600px) {
    h4 {
      font-size: 2rem;
      line-height: 2.1rem; } }

h5 {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1rem; }
  @media only screen and (max-width: 900px) {
    h5 {
      font-size: 0.875rem;
      line-height: 0.975rem; } }
  @media only screen and (max-width: 600px) {
    h5 {
      font-size: 1rem;
      line-height: 1.1rem; } }

h6 {
  font-family: inherit;
  font-size: 0rem;
  font-weight: 400;
  line-height: 0.1rem; }
  @media only screen and (max-width: 900px) {
    h6 {
      font-size: 0rem;
      line-height: 0.1rem; } }
  @media only screen and (max-width: 600px) {
    h6 {
      font-size: 0rem;
      line-height: 0.1rem; } }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

p {
  color: #1C1C1C;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.25; }

a {
  color: #F8F1FF;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.1;
  text-decoration: none; }
  @media only screen and (max-width: 900px) {
    a {
      font-size: 0.8rem; } }

a.darken {
  color: #c58bff; }

a.large {
  font-size: 1.1rem; }

button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.1; }

button {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.1; }

li {
  font-family: inherit;
  line-height: 1.2; }

.title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.1rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 900px) {
    .title {
      font-size: 2rem;
      line-height: 2.1rem; } }
  @media only screen and (max-width: 600px) {
    .title {
      font-size: 2.2rem;
      line-height: 2.3rem; } }

/*** Import partials from the modules folder ***/
.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center; }
  .about .title {
    color: #102542; }
  .about .btn-secondary {
    margin-top: 20px;
    width: 50%; }

.about-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px; }
  @media only screen and (max-width: 900px) {
    .about-grid {
      align-items: center;
      flex-direction: column; } }

.about-item {
  align-items: center;
  background-color: #F0F7F4;
  border: 1px solid #dfeee8;
  border-radius: 6px;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  padding: 20px;
  width: 30%; }
  .about-item:hover {
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  @media only screen and (max-width: 900px) {
    .about-item {
      flex: 0 0 80%;
      margin: 15px 0;
      width: 80%; } }
  @media only screen and (max-width: 600px) {
    .about-item {
      flex: 0 0 100%;
      width: 100%; } }

.about-item-img {
  width: 50%; }

.about-item-subtitle {
  color: #1C1C1C;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 10px 0; }

.about-item-desc {
  color: #1C1C1C;
  width: 90%; }

.cta-button {
  background-color: #FFFFFF;
  align-items: center;
  border-radius: 4px;
  color: #1C1C1C;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  max-width: 372px;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%; }
  .cta-button:hover {
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  .cta-button:disabled {
    background-color: white;
    color: #b5b5b5; }
    .cta-button:disabled:hover {
      cursor: not-allowed; }
  @media only screen and (max-width: 600px) {
    .cta-button {
      width: 100%; } }
  @media only screen and (max-width: 320px) {
    .cta-button {
      margin-left: 0;
      margin-right: 0;
      width: 270px; } }

.btn-primary {
  background-color: #99DDC8;
  align-items: center;
  border-radius: 4px;
  color: #102542;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  max-width: 372px;
  text-decoration: none;
  text-transform: uppercase; }
  .btn-primary:hover {
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  .btn-primary:disabled {
    background-color: #e6f7f1;
    color: #9dbce7; }
    .btn-primary:disabled:hover {
      cursor: not-allowed; }
  @media only screen and (max-width: 600px) {
    .btn-primary {
      width: 100%; } }
  @media only screen and (max-width: 320px) {
    .btn-primary {
      margin-left: 0;
      margin-right: 0;
      width: 270px; } }

.btn-secondary {
  background-color: #BAABBD;
  align-items: center;
  border-radius: 4px;
  color: #102542;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  max-width: 372px;
  text-decoration: none;
  text-transform: uppercase; }
  .btn-secondary:hover {
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer; }
  .btn-secondary:disabled {
    background-color: #e9e4ea;
    color: #9dbce7; }
    .btn-secondary:disabled:hover {
      cursor: not-allowed; }
  @media only screen and (max-width: 600px) {
    .btn-secondary {
      width: 100%; } }
  @media only screen and (max-width: 320px) {
    .btn-secondary {
      margin-left: 0;
      margin-right: 0;
      width: 270px; } }

.no-hover:hover {
  box-shadow: none;
  cursor: pointer; }

.contact {
  align-items: center;
  display: flex;
  flex-direction: column; }
  .contact .title {
    color: #102542; }

.contact-section {
  display: flex;
  justify-content: space-between;
  width: 80%; }
  @media only screen and (max-width: 900px) {
    .contact-section {
      align-items: center;
      flex-direction: column;
      width: 90%; } }

.contact-form {
  background-color: #FFFFFF;
  border: 1px solid #D4DBE3;
  border-radius: 6px;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px 15px;
  text-align: center;
  width: 45%; }
  @media only screen and (max-width: 900px) {
    .contact-form {
      margin: 10px 0;
      width: 65%; } }
  @media only screen and (max-width: 600px) {
    .contact-form {
      margin: 10px 0;
      width: 100%; } }
  .contact-form .btn-secondary {
    margin: 10px auto 0;
    width: 80%; }

.form-title {
  font-size: 1.5rem;
  margin-bottom: 5px; }

.more-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 45%; }
  @media only screen and (max-width: 900px) {
    .more-info {
      margin: 10px 0;
      width: 65%; } }
  @media only screen and (max-width: 600px) {
    .more-info {
      margin: 10px 0;
      width: 100%; } }

.hours-operation {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 10px 0 25px;
  width: 80%; }
  @media only screen and (max-width: 900px) {
    .hours-operation {
      width: 100%; } }

.time-slot {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  width: 100%; }

.day {
  font-size: 1rem;
  font-weight: 600; }

.hours {
  font-size: 1rem; }

.bottom-section {
  margin-top: auto;
  margin-bottom: 0; }

.error-message {
  background-color: #FF5057;
  margin-top: 5px;
  padding: 3px 0; }

.hero {
  align-items: center;
  background-image: url("./assets/img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 780px;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .hero {
      height: 100vh; } }

.hero-overlay {
  background: linear-gradient(90deg, rgba(56, 77, 90, 0.5), transparent);
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1; }

.hero-content {
  align-items: center;
  background-color: rgba(186, 171, 189, 0.85);
  border-radius: 2px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 25px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  width: 45%;
  z-index: 2; }
  @media only screen and (max-width: 900px) {
    .hero-content {
      padding: 20px;
      width: 60%; } }
  @media only screen and (max-width: 600px) {
    .hero-content {
      padding: 15px;
      width: 85%; } }
  .hero-content .title {
    color: #102542;
    font-size: 1.8rem;
    line-height: 1.85rem; }
    @media only screen and (max-width: 600px) {
      .hero-content .title {
        font-size: 1.5rem;
        line-height: 1.55rem; } }
  .hero-content .subtitle {
    color: #102542;
    display: block;
    margin: 10px 0 15px;
    width: 85%; }

.footer {
  background-color: #384D5A;
  color: #F8F1FF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px; }
  @media only screen and (max-width: 600px) {
    .footer {
      flex-direction: column;
      padding: 15px; } }

@media only screen and (max-width: 600px) {
  .footer-section {
    flex: 0 0 100%;
    width: 100%; } }

.footer-section .title {
  display: block;
  font-size: 1.5rem;
  line-height: 1.55rem; }
  @media only screen and (max-width: 900px) {
    .footer-section .title {
      margin-bottom: 10px; } }

.left {
  flex: 0 0 65%;
  width: 65%; }
  @media only screen and (max-width: 900px) {
    .left {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      width: 100%; } }

@media only screen and (max-width: 900px) {
  .footer-link {
    font-size: 1rem; } }

.right {
  align-items: flex-end;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%; }
  @media only screen and (max-width: 900px) {
    .right {
      align-items: flex-start;
      flex: 0 0 100%;
      margin-top: 5px;
      width: 100%; } }

.copyright {
  display: block;
  font-size: .8rem; }

.social-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.social-icon {
  height: 40px;
  width: 40px; }

.footer-contact {
  display: flex;
  flex-direction: column; }
  .footer-contact span {
    font-size: 1rem; }

.city-state {
  display: flex; }

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 1440px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; }

.navbar-wrapper {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 40px;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .navbar-wrapper {
      padding: 0 20px; } }

.logo .navbar-link {
  color: #401F3E;
  font-weight: 600;
  text-transform: uppercase; }

.navbar-menu {
  display: flex;
  justify-content: space-between;
  max-width: 70%; }
  @media only screen and (max-width: 900px) {
    .navbar-menu {
      display: none; } }

.navbar-menu.active {
  display: flex;
  width: 55%; }

.navbar-menu.mobile {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  position: absolute;
  right: 0;
  top: 50px;
  width: 250px; }
  .navbar-menu.mobile .navbar-item {
    padding: 5px 0;
    width: 100%; }

.navbar-item {
  position: relative;
  text-align: center; }

.navbar-item-submenu {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  top: 34px;
  width: 100%; }
  @media only screen and (max-width: 900px) {
    .navbar-item-submenu {
      align-items: flex-end;
      right: 250px;
      top: 0;
      width: 80%; } }

.navbar-submenu-link {
  color: #401F3E;
  margin: 4px 0;
  padding: 0 5px;
  text-transform: capitalize; }
  .navbar-submenu-link:hover {
    color: #62305f;
    cursor: pointer; }

.navbar-link {
  color: #401F3E;
  padding: 0 5px;
  text-transform: capitalize; }
  .navbar-link:hover {
    color: #62305f;
    cursor: pointer; }

.mobile-menu {
  display: none;
  flex-direction: column;
  width: 35px; }
  @media only screen and (max-width: 900px) {
    .mobile-menu {
      display: flex; } }

.nav-list {
  background-color: #401F3E;
  border-radius: 5px;
  height: 3px;
  margin: 3px 0;
  transition: 0.8s;
  width: 35px; }

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 3px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  transform: rotate(45deg) translate(-10px, -4px); }

.navbar-contact {
  background-color: rgba(255, 255, 255, 0.9);
  left: 40px;
  padding: 15px 10px;
  position: absolute;
  top: 50px; }
  @media only screen and (max-width: 600px) {
    .navbar-contact {
      left: 0; } }

.spinner:before {
  animation: spinner 1s linear infinite;
  border-radius: 50%;
  border-right: 2px solid transparent;
  border-top: 2px solid #9FC3DA;
  box-sizing: border-box;
  content: '';
  height: 60px;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: fixed;
  top: 50%;
  width: 60px; }

@keyframes spinner {
  to {
    transform: rotate(360deg); } }
