
.section {
	max-width: $lgDesktop;
	padding: 25px 0;
	width: 100%;

	@include mediaQuery(min, $lgDesktop) {
		margin: 0 auto;
	}
}

.form-field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;

	label {
		font-size: .85rem;
		margin: 3px 0;
	}

	input,
	textarea {
		width: 100%;
	}
}

.nav-open {
  overflow: hidden;
	position: fixed;
  width: 100%;
}

.card {
	background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 6px;
  box-shadow: $box-shadow;
	padding: 10px 15px;
}
