
// Colors
$white: #FFFFFF;
$off-white: #F0F7F4;
$black: #000;
$dark-gray: #1C1C1C;
$light-gray: #D4DBE3;
$sunset: #FF5057;

$transparent-white: rgba(255, 255, 255, 0.4);
$transparent-black: rgba(0, 0, 0, 0.4);
$transparent-primary: rgba(56, 77, 90, 0.4);

// Logo
$green: #618C58;
$kashmir: #59798E;
$magnolia: #F8F1FF;
$atomic: #435058;
$columbiaBlue: #A3E7FC;
$cyprus: #102542;
$riptide: #99DDC8;
$castro: #401F3E;
$black-pearl: #0E1116;
$melanzane: #32292F;
$turbo: #F7CB15;

// Box Shadows
$box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.16), 0px 1px 0px rgba(0, 0, 0, 0.05);
$box-shadow2: 0px 0px 45px rgba(0, 0, 0, 0.16), -15px 0px 35px rgba(0, 0, 0, 0.05);
$box-shadow3: 0px 3px 7px rgba(0, 0, 0, 0.16), 0px 0px 0px rgba(0, 0, 0, 0.05);
