
// Colors
$white: #FFFFFF;
$off-white: #F0F7F4;
$black: #000;
$dark-gray: #1C1C1C;
$light-gray: #D4DBE3;
$persian-green: #59798E;
$shadow-green: #96BDC6;
$light-blue: #9FC3DA;
$elephant: #233541;
$brown: #41321C;
$clay: #8E7859;
$bubbles: #A2E3C4;
$frost: #D3DFB8;
$sunset: #FF5057;

$transparent-white: rgba(255, 255, 255, 0.9);

// Logo
$green: #61BA14;
$cello: #384D5A;
$lola: #BAABBD;
$magnolia: #F8F1FF;
$cyprus: #102542;
$riptide: #99DDC8;
$honeydew: #EDFFEC;
$lemon: #FEFFBE;
$japonica: #C57B57;
$pink: #F1AB86;
$castro: #401F3E;
$carnation: #FF99C9;
$shocking: #E58AB5;
$red: #B25983;
