/////     GLOBAL DEFAULTS     /////
// Colors
$white: #FFFFFF;
$off-white: #F0F7F4;
$black: #000;
$dark-gray: #1C1C1C;
$light-gray: #D4DBE3;
$persian-green: #59798E;
$shadow-green: #96BDC6;
$light-blue: #9FC3DA;
$elephant: #233541;
$brown: #41321C;
$clay: #8E7859;
$bubbles: #A2E3C4;

$box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.05);

// Transition duration
$duration: 0.3s;

// Variables
$mobile: 600px;
$tablet: 900px;
$smDesktop: 1024px;
$desktop: 1280px;
$lgDesktop: 1440px;
