
* {
	box-sizing: border-box;
	transition: .5s ease-in-out;

	&:focus {
		outline: none;
	}
}

html {
	font-size: 16px;
	margin: 0;
	padding: 0;

	@include mediaQuery(max, $tablet) {
		font-size: 18px;
	}

	@include mediaQuery(max, $mobile) {
		font-size: 20px;
	}
}

body {
	margin: 0;
	max-width: $lgDesktop;
	padding: 0;

	@include mediaQuery(min, $lgDesktop) {
		margin: 0 auto;
	}
}

main {
	display: block;
}

input {
	border: 1px solid $light-gray;
	border-radius: 2px;
	font-size: 14px;
	margin: 3px 0;
	padding: 10px;
}

textarea {
	background-color: transparent;
	border: 1px solid $light-gray;
	border-radius: 2px;
	font-size: 14px;
	resize: none;
  outline: none;
	padding: 10px;

	&:placeholder {
		font-size: 14px;
	}
}

button {
	border: none;
	border-color: none;
}
