// Typography
// import google font files, replace as needed
@import url( 'https://fonts.googleapis.com/css?family=Roboto:700|Source+Sans+Pro:400,600,700');
$primary-font: 'Montserrat', sans-serif;
$line-height-base: 1rem;

// Font Sizing
$font-size-base: 1rem !default;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.875) !default;

*, html {
  font-family: $primary-font;
}

// SIZING
@for $i from 1 through 6 {
  h#{$i} {
    font-family: inherit;
    font-size: $font-size-base * (6 - $i);
    font-weight: 400;
    line-height: (($font-size-base * (6 - $i)) + .1rem);

    @include mediaQuery(max, $tablet) {
      font-size: $font-size-sm * (6 - $i);
      line-height: (($font-size-sm * (6 - $i)) + .1rem);
    }

    @include mediaQuery(max, $mobile) {
      font-size: $font-size-base * (6 - $i);
      line-height: (($font-size-base * (6 - $i)) + .1rem);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  color: $dark-gray;
  font-family: inherit;
  font-size: $font-size-base;
  line-height: 1.25;
}

a {
  color: $riptide;
  font-family: inherit;
  font-size: $font-size-base;
  line-height: 1.1;
  text-decoration: none;
}

a.darken {
  color: darken($magnolia, 20);
}

a.large {
  font-size: 1.1rem;
}

button {
  font-family: inherit;
  font-size: $font-size-base;
  line-height: 1.1;
}

button {
  font-family: inherit;
  font-size: $font-size-base;
  line-height: 1.1;
}

li {
  font-family: inherit;
  line-height: 1.2;
}

// Class Specific
.title {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;

  @include mediaQuery(max, $tablet) {
    font-size: 2rem;
  }
}

.white {
  color: $white;
}

.center {
  text-align: center;
}
