
// Box Shadows
$box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0px rgba(0, 0, 0, 0.05);
$box-shadow2: 0 0 45px rgba(0, 0, 0, 0.16), -15px 0 35px rgba(0, 0, 0, 0.05);

// Transition duration
$duration: 0.3s;

// Variables
$mobile: 600px;
$tablet: 900px;
$smDesktop: 1024px;
$desktop: 1280px;
$lgDesktop: 1440px;
