
// Box Shadows
$box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.16), 0px 1px 0px rgba(0, 0, 0, 0.05);
$box-shadow2: 0px 0px 45px rgba(0, 0, 0, 0.16), -15px 0px 35px rgba(0, 0, 0, 0.05);
$box-shadow3: 0px 3px 7px rgba(0, 0, 0, 0.16), 0px 0px 0px rgba(0, 0, 0, 0.05);

// Transition duration
$duration: 0.3s;

// Variables
$mobile: 600px;
$tablet: 900px;
$smDesktop: 1024px;
$desktop: 1280px;
$lgDesktop: 1440px;
