/////     GLOBAL DEFAULTS     /////
// Colors
$white: #FFFFFF;
$off-white: #FDFFFC;
$black: #000;
$dark-gray: #1C1C1C;
$light-gray: #D4DBE3;
$persian-green: #59798E;
$light-blue: #9FC3DA;
$elephant: #233541;
$brown: #41321C;
$clay: #8E7859;

// Transition duration
$duration: 0.3s;

// Variables
$mobile: 600px;
$tablet: 900px;
$smDesktop: 1024px;
$desktop: 1280px;
$lgDesktop: 1440px;
