@mixin mediaQuery ($minOrMax, $val) {
  @media only screen and (#{$minOrMax}-width: $val) {
      @content;
  }
}

@mixin button($backgroundColor, $borderColor, $fontColor) {
  background-color: $backgroundColor;
  @if $borderColor {
    border: 2px solid $borderColor;
  }
  align-items: center;
  border-radius: 4px;
  color: $fontColor;
  display: flex;
  font-weight: 600;
  height: 50px;
  justify-content: center;
  max-width: 372px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    @if $borderColor {
      border-color: $backgroundColor;
    }
    background-color: $fontColor;
    color: $backgroundColor;
    cursor: pointer;
  }

  @include mediaQuery(max, $mobile) {
    width: 100%;
  }

  @include mediaQuery(max, 320px) {
    margin-left: 0;
    margin-right: 0;
    width: 270px;
  }
}
